<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite">
    <test name="Testsuiteproject">
        <classes>
            <class name="ElementsPageTest"/>
            <class name="FormsPageTest"/>
            <class name="WidgetsPageTest"/>
            <class name="InteractionsPageTest"/>

        </classes>
    </test>
   
</suite>
